/* estilos/estilo.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 320px; /* Aumenté el ancho para dar más espacio a los elementos internos */
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: calc(100% - 16px); /* Considerando el padding de 8px en ambos lados */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Hace que el padding no afecte el ancho total del elemento */
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}
